%div(class="row" style="padding-top:80px" )
  %div(class="span6 offset3")
    = form_for(:session, url: sessions_path) do |f|

      = f.label :帐号
      = f.text_field :name

      = f.label :密码
      = f.password_field :password

      .alert-warning.center
        =flash.now[:error]
      .pull-right
        = link_to "立即注册", "/users/new"

      = f.submit "登录", class: "btn btn-large btn-primary"