=render '/products/header'
%br
%br
.container
  %table.table
    %tr
      %th(style="width:30%") ID
      %th(style="width:30%") 姓名
      %th(style="width:30%") 邮箱

    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td
          = link_to '编辑', edit_users_path(user.id)
          = link_to '删除', 'destroy/'+ user.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to '新建用户', '/users/super_new'