=render 'header'
%br
%br
.container
  -if @products.length != 0
    -@products.each do |product|
      -if (!@is_admin && User.find(session[:user_id]).admin != 'super')
        .row(id="order_#{product[:order_id]}")
          .col-md-12
            .panel.panel-default
              .panel-heading
                .pull-right
                  -if product[:order_status].nil?
                    %span 卖家未发货
                  -elsif product[:order_status] == '已发货'
                    -if product[:confirm_status].nil?
                      %a(href='javascript:{}'onclick="confirm_orders(#{product[:order_id]},this)") 确认收货
                    -else
                      %span 交易成功
                  %a(href='javascript:{}'onclick="delete_orders('#{product[:order_id]}', 'user')")  删除
                %span.label(style="background-color: #428bca" )
                  =product[:name]
              .panel-body
                %div(style="height:120px;float:left" )
                  =link_to(image_tag(src="#{product[:img]}",width: 120), "/products.#{product[:product_id]}")
                %div(style="float:right;width:750px " )
                  %table.table.table-bordered
                    %tr
                      %th(style="width:8%") 收货人
                      %th(style="width:10%") 电话
                      %th(style="width:10%") 收货地址
                      %th(style="width:8%") 颜色
                      %th(style="width:8%") 尺码
                      %th(style="width:8%") 数量
                      %th(style="width:8%") 单价
                      %th(style="width:10%") 总价
                    %tr
                      %th  #{product[:receive]}
                      %th  #{product[:phone]}
                      %th  #{product[:address]}
                      %th  #{product[:color]}
                      %th  #{product[:size]}
                      %th  #{product[:num]}
                      %th  #{product[:price]}
                      %th  #{product[:total_price]}
      -else
        .row( id="order_#{product[:order_id]}")
          .col-md-12
            .panel.panel-default
              .panel-heading
                .pull-right
                  -if product[:order_status].nil?
                    %a(href='javascript:{}'onclick="change_order_status(#{product[:order_id]},this)") 已发货
                  -elsif product[:order_status] == '已发货'
                    -if product[:confirm_status] == '确认收货'
                      交易成功
                    -else
                      等待买家确认收货
                  %a(href='javascript:{}'onclick="delete_orders('#{product[:order_id]}', 'admin')") 删除
                %span.label(style="background-color: #428bca" )
                  =product[:name]
              .panel-body
                %div(style="height:120px;float:left" )
                  =link_to(image_tag(src="#{product[:img]}",width: 120), "/products.#{product[:product_id]}")
                %div(style="width:750px;float:right" )
                  %table.table.table-bordered()
                    %tr
                      %th(style="width:8%") 收货人
                      %th(style="width:10%") 电话
                      %th(style="width:10%") 收货地址
                      %th(style="width:8%") 颜色
                      %th(style="width:8%") 尺码
                      %th(style="width:8%") 数量
                      %th(style="width:8%") 单价
                      %th(style="width:10%") 总价

                    %tr
                      %th  #{product[:receive]}
                      %th  #{product[:phone]}
                      %th  #{product[:address]}
                      %th  #{product[:color]}
                      %th  #{product[:size]}
                      %th  #{product[:num]}
                      %th  #{product[:price]}
                      %th  #{product[:total_price]}

  -if @products.length == 0
    .text-center.alert.alert-danger
      %h3
        您还没在该店铺购买过商品，
        =link_to '请点击这里开始购买' ,'/products/index'
