=render 'header'
.container
  %div(style="width:100%" )
    %div(style="float:left;width:50%" )
      =image_tag(@image[0],:class => 'list_image')
    .list_description
      %h5
        =@product.title
      %br
      %h4#price(style="background-color:red; height:100px;line-height:100px;text-align:center;color:white")
        今日促销 ￥
        =@product.price
      %br
      %h5#select_color
        选择颜色:
        %span
          -@color.each do |color|
            %input(type="radio" name="color" onclick="judge_button_can_click()" value="#{color}")
              =color
      %h5#select_size
        选择尺码:
        %span
          -@size.each do |size|
            %input(type="radio" name="size" onclick="judge_button_can_click()" value="#{size}")
              = size
      %h5#select_num
        数量:
        %input(style="width:70px;height:20px" onkeyup="judge_button_can_click()" )
      -if (@is_admin || User.find(session[:user_id]).admin == 'super')
        %div(style="float:right; padding-right:40px")
          .btn.btn-default
            =link_to '编辑',"/products/#{@product.id}/edit"
          .btn.btn-default
            =link_to '删除', 'destroy/' + @product.id.to_s,:confirm => '确实要删除吗？',:method => :delete
      -else
        %div(style="float:right; padding-right:40px")
          %a.btn.btn-primary#shopping_cart(onclick="add_to_shopping_cart()" disabled = 'true' ) 加入购物车
          %a.btn.btn-primary#buy_now(onclick="add_to_order('#{@product.id}','#{@product.title}','#{@image[0]}')" disabled = 'true'  href='javascript:{}' data-toggle="modal" data-target="#modal-buy") 立即购买

.container
  %br
  %div(style="background-color:lightblue")
    %h4(style="height:40px;line-height:40px; padding-left:30px") 产品参数
    %table
      %tr
        %td.table-css
          主图来源：
          =@product.pic_source
        %td.table-css
          品牌：
          =@product.logo
        %td.table-css
          面料：
          =@product.mian_liao
      %tr
        %td.table-css
          厚薄：
          =@product.hou_bao
        %td.table-css
          发布季节：
          =@product.season
        %td.table-css
          风格：
          =@product.style
      %tr
        %td.table-css
          货号：
          =@product.huo_hao
    %br
  %br
  .container
    -@images.each do |t|
      =image_tag(t,:class => 'list_image')
    %br

=render 'address_modal'
