<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<!--<div id="banner">-->
  <!--<%=image_tag('logo.png')%>-->
  <!--<%=@page_title||'pragmatic bookshelf'%>-->
<!--</div>-->
<!--<div id="columns">-->
  <!--<div id="side">-->
    <!--<a href="#"></a>home<br/>-->
    <!--<a href="#"></a>question<br/>-->
    <!--<a href="#"></a>news<br/>-->
    <!--<a href="#"></a>contact<br/>-->
  <!--</div>-->
  <div id="main">
    <%= yield %>
  </div>
</div>

</body>
</html>
